%script{:id => "about-template", :type => "text/template"}
  .page-header
    %h4
      About RubyConf Bangladesh
  %p
    RubyConf Bangladesh is going to be an annual event, technical conference presented by the Bangladesh Ruby Community.
    The First ever RubyConf Bangladesh will be held TBD, at the TBD in Dhaka.
  %p
    The estimated attendance for the conference is 250 people. The conference schedule features presentations from
    well-known professionals in the Ruby and Rails community, there will be approximately 15 technical talks, 3 marketing
    topics and panel discussions.
  %p
    Now in our first year, the RubyConf Bangladesh will bring the community’s top speakers and leaders together with
    motivated and excited attendees for an unforgettable conference experience. At RubyConf Bangladesh, we will debate
    and discuss the latest trends, techniques, and tools in Ruby development, design, deployment, business and marketing.
  %p
    We are not a commercial conference. Staffed by committed volunteers, developers, RubyConf Bangladesh is produced and
    presented by Bangladesh Ruby and Rails Developers, as a community event to promote Ruby, and encourage collaboration.

  %br
  %h4 Why Attend RubyConf Bangladesh?

  %ul
    %li Bring Ruby crafts and eloquence to Bangladesh.
    %li Develop the local community. Want to become a Ruby leader? Come and share your views.
    %li Provide a networking forum. Need a Ruby job? Need some help with a Ruby project?
    %li Provide a Ruby business forum. Are you hiring? Have a Ruby product or service to market?
    %li Provide a Ruby education forum. Want to hear what the Ruby leaders think? Do you want to learn what they know?
    %li Enhance your career prospects. Beef up your skill set and your marketability in the outsource market and as a freelancer

