%script{:id => "index-template", :type => "text/template"}
  .page-header
    %h3
      Welcome to RubyConf Bangladesh
  %p
    %h4 2013 RubyConf BD in Dhaka, Bangladesh
    %p
      The largest ruby conference in the South Asia Bangla speaking region RubyConf Bangladesh will be held on January 5, 2013 in Dhaka, Bangladesh. To follow our latest update join our rubyists
      %a{:href=>"https://www.facebook.com/groups/rubydevs/"} Facebook Group
      and follow us on Twitter
      %a{:href=>"https://twitter.com/rubyconfbd"} @rubyconfbd
      %br
      %br
      This is a
      %b free
      event but limited entry. Registration is NOW closed!
      %h4
        %a{:href=>"#register"} Register Now

      %h4 Venue: Basis Auditorium
  %br
  %h4 Our 2013 Call for Presentation Proposals is Open!
  %p
    Please submit your proposal by November 22, 2012. We will stop accepting proposal after that and list the finalized speakers on the speakers page
  %p
    Want to speak at RubyConf Bangladesh? Then we want to hear from you! Submit a
    %a{:href=>"#proposal"} presentation proposal
    RubyConf BD will be held on January 5, 2013 in Dhaka, Bangladesh.

  %p Presentations should focus on helping our attendees by teaching from your experiences. The audience is primarily practicing rubyists (of all levels), so talks should lean towards the technical side. All Ruby related topics will be considered (JavaScript, HTML5, Big Data, Agile, Start-Ups, too). Each presentation should be 25 minutes long, including time for questions and discussion.

  %p Keep in mind that our audience will be fully-engaged members of the Bangladesh developer’s community. Your presentation should appeal to them. Presentations should be loaded with code and technical content. We are engineers. We want to be entertained, amazed, and have fun.

  %p Submit as many proposals as you want. More than one helps you get selected because we may get similar talks from different people. If you only submit one, and it duplicates someone’s talk then you will probably get cut on random pick. Panels or multi-presenter proposals are fine. Speakers will receive free admission to the conference and the speakers party/dinner on the night of RubyConf, and the opportunity to address a large audience of talented and influential rubyists and developers from different communities!

  %p Please submit your proposal by November 22, 2012. We reserve the right to accept and announce a few proposals before that time, but not too many. We’ll decide that as we go along.

  %p If you have any questions, please feel free to email us at proposals(at)rubyconfbd.org. Your presentation is important to us, we want to help make it as good as possible.

  %p We look forward to seeing some great proposals!