%script{:id => "proposal-template", :type => "text/template"}
  <iframe width="90%" height="1155" frameborder="0" marginwidth="0" marginheight="0" src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHhEYVA1WEI0aVNyQUhJYVlXbXNnaWc6MQ">Loading&amp;#8230;
  </iframe>