%script{:id => "register-template", :type => "text/template"}
  %h4
    Registration:: You can send us email at
    %b register@rubyconfbd.org
    with your name, email, occupation and phone number

  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dG5NRWxXdW1OcVFGTFRYenhsVjNmSFE6MQ" width="760" height="827" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>