%h3
  If you are facing hard time loading the form please email us at
  %b register@rubyconfbd.org
  with your name, email, occupation and phone number
  %br
  Thank you

%script{:id => "register-template", :type => "text/template"}
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dG5NRWxXdW1OcVFGTFRYenhsVjNmSFE6MQ" width="760" height="827" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>