%script{:id => "schedule-template", :type => "text/template"}
  .page-header
    %h4
      RubyConf Bangladesh: Event Schedule

    %p
      %address
        %strong 10:00am -
        %span.muted Gate Opens / Registration Begins
        %br
          Collect Event Lanyard.
          ID is required (National ID, DL, University Photo ID, Workplace Photo ID)
        %br

      %address
        %strong 11:00am -
        %span.muted Conference Begins
        %br
          Welcome and Introduction


      %address
        %strong 11:30am -
        %span.muted Topic on Ruby
        %br
          Presentation on introduction to Ruby

      %address
        %strong 11:55am -
        %span.muted Topic on Ruby on Rails
        %br
          Presentation on introduction to Rails

      %address
        %strong 12:25pm -
        %span.muted Mountable apps on Rails
        %br
          Presentation on Rails Engine

      %address
        %strong 12:50pm -
        %span.muted Sponsor Speech
        %br
          Sponsors Speech & Hiring Opportunity


      %address
        %strong 12:55pm -
        %span.muted Lunch/Prayer Break
        %br
          Lunch/Drinks will be provided at 1:20pm


      %address
        %strong 01:55pm -
        %span.muted Startup & Innovation on Ruby
        %br
          How do businesses see ruby? Sharing Success Stories with Entrepreneurs

      %address
        %strong 02:30pm -
        %span.muted Modular Development
        %br
          Presentation on cutting gems

      %address
        %strong 02:55pm -
        %span.muted Meta Programming
        %br
          Presentation on using Ruby code to code

      %address
        %strong 03:20pm -
        %span.muted Asset Pipeline in Rails
        %br
          Presentation on Rails asset pipeline

      %address
        %strong 03:40pm -
        %span.muted Sponsor Speech
        %br
          Sponsors Speech & Hiring Opportunity

      %address
        %strong 03:45pm -
        %span.muted JRuby
        %br
          Presentation on JRuby, how java can be used in Ruby.

      %address
        %strong 04:10pm -
        %span.muted Automating Testing
        %br
          Presentation on Ruby Testing Framework and Importance of TDD or BDD development

      %address
        %strong 04:35pm -
        %span.muted Alternative to Rails and Useful Frameworks
        %br
          Presentation on Sinatra, Deployment Framework, Server Provisioning and Process Monitoring Framework

      %address
        %strong 04:55pm -
        %span.muted Event Ending Note


      %address
        %strong 05:00pm -
        %span.muted Audience Q&A session
        %br
          It's time to win some prizes from our sponsors!

      %address
        %strong 05:30pm -
        %span.muted Networking session & Light snacks
        %br
          Let's know each other and speak to speakers and YOU!


