%script{:id => "speaker-template", :type => "text/template"}
  .page-header
    %h4
      Speakers

  %p
    %address
      %strong Nurul Ferdous,
      %span.muted Platform Architect (Integrated Systems)
      %br
        Nurul Ferdous is currently working as the Platform Architect (Integrated Systems) at Tasawr Interactive. He has solid experience on Distributed Systems and Big Data analysis. If he is not found online he must be being teddy bear for his daughter or writing a blog post.
      %br
    %address
      %strong S. M. Ashif Manjur,
      %span.muted Sr. Software Engineer
      %br
        Ashif has been working on Rails application development for the last 4 years. Being part of various agile teams and building web applications for various domains ranging from Agile Scrum project management tool to various social networking apps. Presently he is working at Nascenia IT Limited as Sr. Software Engineer where he guides new recruits and freshers to get themselves introduced with Ruby on Rails framework. Ashif is a fan of Ruby, the language and loves to explore it's powerful and elegant dynamic capabilities.
      %br

    %address
      %strong Anis Uddin Ahmad,
      %span.muted Chief Technology Officer
      %br
        Anis had been working in ruby development for almost 2 years, developing special products using jruby, sinatra. He is currently working at WNeeds Ltd as the Chief Technology Officer
      %br

    %address
      %strong Fattahul Alam,
      %span.muted Chief Technology Officer
      %br
        Fattah has 6 years of experience in Ruby On Rails and JAVA Technology. Prior to joining Nascenia IT he worked for Code71Team for about 3 years and at United IT Global Net, a Japan-Bangladesh join venture IT company. There, where he worked on an e-learning system. He has experience in Java and J2EE using Spring, Hibernet, Wicket and JSF, J2ME as well as in Ruby on Rails. He is also a certified scrum master (CSM).
      %br

    %address
      %strong Mohammad Zakir Hossain a.k.a The HungryCoder,
      %span.muted Sr. Software Engineer
      %br
        Zakir is an open source enthusiast, get involves in such projects whenever he can, he developed and maintains country's first Bangla forum Projanmo Forum. During leisure, he loves to blog on programming or answer on stackoverflow. Currently Zakir is working as Senior Software Engineer at NewsCred Inc (Dhaka Office).
      %br

    %address
      %strong M Fazle Taher,
      %span.muted Chief Technology Officer
      %br
        Fazle has been a member of fbFund winning popular Twenty20 cricket app on facebook in 2008, currently working as Sr. Software Engineer at Demosphere International Inc, Fairfax, Virginia and CTO of his new startup NYStartup Lab, New York. He is an experienced technologist, entrepreneur, cyber security professional. He is passionate about ruby and coding eloquence, his focus is the creation of elegant, well-engineered, robust code that is as simple to read as it is to use. Prior to ruby he has been programming in PHP for 5 years and Python for short time. He also spends time learning new technology and about computer security whenever he can, if not he is probably busy playing Fifa on PS3.
      %br
    %address
      %strong M Fayaz Taher,
      %span.muted Chief Executive Officer
      %br

      %br

    %address
      %strong Muntasim Ahmed
      %span.muted
      %br

      %br

    %address
      %strong Nafiul Karim,
      %span.muted Sr. Software Engineer
      %br

      %br

    %address
      %strong NHM Tanveer Hossain Khan,
      %span.muted Systems Architect
      %br

      %br

    %address
      %strong Mirza Asif,
      %span.muted Chief Technology Officer
      %br

      %br



