%script{:id => "speaker-template", :type => "text/template"}
  .page-header
    %h4
      Speakers

  %p
  /
    %address
      %strong S. M. Ashif Manjur,
      %span.muted Sr. Software Engineer
      %br
        Ashif has been working on Rails application development for the last 4 years. Being part of various agile teams and building web applications for various domains ranging from Agile Scrum project management tool to various social networking apps. Presently he is working at Nascenia IT Limited as Sr. Software Engineer where he guides new recruits and freshers to get themselves introduced with Ruby on Rails framework. Ashif is a fan of Ruby, the language and loves to explore it's powerful and elegant dynamic capabilities.
      %br

    %address
      %strong Nurul Ferdous,
      %span.muted Systems Architect
      %br

      %br

    %address
      %strong NHM Tanveer Hossain Khan,
      %span.muted Systems Architect
      %br

      %br

    %address
      %strong Mirza Asif,
      %span.muted Chief Technology Officer
      %br

      %br

    %address
      %strong M Fazle Taher,
      %span.muted Chief Technology Officer
      %br

      %br