%script{:id => "sponsor-template", :type => "text/template"}
  .page-header
    %h4
      Sponsor RubyConf Bangladesh!

  %p
    We appreciate our sponsors, and are committed to providing solid value in exchange for sponsorship. Would you like
    information on how to sponsor us? We have two levels of sponsorship opportunity, please email us regarding sponsorship
    and more information at sponsorship@rubyconfbd.org.

  %h5 Platinum Sponsor
  %ul
    %li{:style => "list-style-type: none;"}
      %a{:href => "http://www.rubycentral.org"}
        %img{:src=> "/images/ruby_central.png", :width => "221px", :height => "200px" }

  %h5 Gold Sponsor
  %ul
    %li{:style => "list-style-type: none;"}
      %a{:href => "http://www.cellbazaar.com"}
        %img{:src=> "/images/logo_cellbazaar.png"}

  %h5 Partners
  %ul
    %li{:style => "list-style-type: none;"}
      %a{:href => "http://www.bdtechsocial.com"}
        %img{:src=> "/images/bdtech.jpg"}

    %br
    %li{:style => "list-style-type: none;"}
      %a{:href => "http://www.bluebd.com"}
        %img{:src=> "/images/ibt_logo.png"}


