%script{:id => "topic-template", :type => "text/template"}
  .page-header
    %h4
      Topics

  %p
    Want to speak at RubyConf Bangladesh? Then we want to hear from you! Submit a
    %a{:href=>"#proposal"} presentation proposal!