%script{:id => "topic-template", :type => "text/template"}
  .page-header
    %h4
      Topics
  %p
    %address
      %strong Ruby for the Rest of Us
      %span.muted Nurul Ferdous
      %br
        A detailed, step by step presentation to grow the love for ruby and rails in local community
      %br

    %address
      %strong Kingdom of Ruby on Rails
      %span.muted Mohammad Zakir Hossain
      %br
        Introduction to Ruby on Rails by making a sample application Todo/Blog
      %br

    %address
      %strong Ruby on Sinatra Micro Framework,
      %span.muted Mirza Asif
      %br
        An alternative approach in web development using Ruby, Sinatra and Mongoid ODM
      %br

    %address
      %strong Decouple, Bundle and Share with Ruby Gems
      %span.muted NHM Tanveer Khan
      %br
        How we can decouple our code and crafting ruby gem so we can share with the ruby developer community
      %br

    %address
      %strong Rails Engine::An awesome tool to extend your app
      %span.muted Muntasim Ahmed
      %br
        What is rails engine? How it works? a sample demonstration to extend your app
      %br

    %address
      %strong Startup & Innovation on Ruby,
      %span.muted BDTech Social
      %br

      %br

    %address
      %strong The Beauty of Metaprogramming in Ruby
      %span.muted Ashif Manjur
      %br
        An introduction to the exciting and powerful dynamic world of the beautiful language Ruby
      %br

    %address
      %strong Sprocket! Drink Coffeescript with Haml & SASS
      %span.muted Nafiul Karim
      %br
        Using Sprocket to compress, deliver static files and mixing them with Coffee-Script, SASS and HAML
      %br

    %address
      %strong Desktop application with Ruby and JRuby
      %span.muted Anis Uddin Ahmad
      %br

      %br

    %address
      %strong Automated Testing using RSpec in Rails
      %span.muted Fattahul Alam
      %br
        Importance of automated testing, default testing options in Rails, How RSpec can be integrated with Rails and how it works
      %br

    %address
      %strong Deploy and Monitor Ruby Applications
      %span.muted M Fazle Taher
      %br
        System configuration and commissioning server with Chef, Deploy application with Capistrano and Monitor with God
      %br

